<%- include("./partials/header") %>

<div class="container text-center">
	<h1>Main Page</h1>

	<h4>Welcome to r/Cars subreddit</h4>

	<!-- <a href="/cars">View all car posts</a> -->
	<a class="btn btn-primary" href="/cars">View all car posts</a>
</div>

<%- include("./partials/footer") %>